body {
  margin: 0;
  padding: 0;
}

.bnbLogo {
  height: 80px;
}

.mixPic {
  height: 400px;
}

.mixPic-cont {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.main-text {
  width: 700px;
}