body {
  margin: 0;
  padding: 0;
}

.bnbLogo {
  height: 80px;
}

.mixPic {
  height: 400px;
}

.mixPic-cont {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.main-text {
  width: 700px;
}

.poke-1 {
  height: 100px;
}

.star-1{
  height:30px;
}

.bold {
  font-weight: bold;
}
.section{
  padding:30px;
  display: flex;
  
}

.card-badge {
  background-color: black;
  color: white;
  width:80px;
  text-align: center;
}